.color {
  /* The container of each option */
  .color-option {
    display: inline;
    position: relative;
    margin: 5px 15px 5px 0px;
    margin-right: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The container of all options */
  .color-picker {
    margin: 10px 0px 10px 0px;
  }

  /* Hide the browser's default radio button */
  .color-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  /* Style the indicator (dot/circle) when checked */
  .color-option input:checked ~ .checkmark {
    margin-right: 5px;
    box-shadow: 0 0 0px 2px #000;
    padding: 3px 0px 3px 3px;
    border: 2px solid 0px #000;
  }

  /* Style the indicator (dot/circle) */
  .color-option .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.alert {
  width: 100%;
  &__danger {
    display: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: rgba($color: red, $alpha: 0.5);
    color: #fff;
  }

  &__success {
    display: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: rgba($color: green, $alpha: 0.5);

    color: #fff;
  }
}
.order-data__list {
  &__item {
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    .order__item__data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .order-data__list__item__label {
        font-size: 18px;
        font-weight: bold;
        color: #000;
      }
      .order-data__list__item__value {
        font-size: 14px;
        font-weight: bold;
        color: #000;
      }
    }
  }
}

.product_data__list {
  &__item {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &__label {
      font-size: 16px;
      font-weight: 600;
    }
    &__value {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.alert {
  width: 300px;
  position: fixed;
  top: 10%;
  right: 2%;
  margin: 10px 0px;
  padding: 12px;
  border-radius: 5px;
  z-index: 9999;

  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.alert:hover {
  cursor: pointer;
}

.alert:before {
  padding-right: 12px;
}

.alert:after {
  content: "\f00d";
  font-family: "FontAwesome";
  float: right;
  padding: 3px;
  &:hover {
    cursor: pointer;
  }
}

.alert-info {
  color: #00529b;
  background-color: #bde5f8;
  border: 1px solid darken(#bde5f8, 15%);
}

.alert-info:before {
  content: "\f05a";
  font-family: "FontAwesome";
}

.alert-warn {
  display: none;
  color: #9f6000;
  background-color: #feefb3;
  border: 1px solid darken(#feefb3, 15%);
}

.alert-warn:before {
  content: "\f071";
  font-family: "FontAwesome";
}

.alert-error {
  display: none;
  color: #d8000c;
  background-color: #ffbaba;
  border: 1px solid darken(#ffbaba, 15%);
}

.alert-error:before {
  content: "\f057";
  font-family: "FontAwesome";
}

.alert-success {
  display: none;
  color: #4f8a10;
  background-color: #e2eecf;
  border: 1px solid darken(#dff2bf, 15%);
}

.alert-success:before {
  content: "\f058";
  font-family: "FontAwesome";
}
